<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>0</MAPZONE>
  <ISSOUTH>-1</ISSOUTH>
  <CASSINI>0</CASSINI>
  <TITLE>ASIA</TITLE>
  <PROJECTION>formula=MercatorFormula;gcs=wgs1984</PROJECTION>
  <YEAR>2010</YEAR>
  <MAPCODE>sg</MAPCODE>
  <SCALES>
    <SCALE FOLDER="3" WIDTH="256" HEIGHT="256" MAXROW="108" MAXCOL="162" MINLONG="9298442.78" MAXLONG="16498442.78" MAXLAT="2980182.40" USERSCALING="false" USERSCALE="0" LEVELNAME="3" LEVELCODE="3" DISABLED="0" ISTHUMBNAIL="0"/>
    <SCALE FOLDER="4" WIDTH="256" HEIGHT="256" MAXROW="264" MAXCOL="396" MINLONG="9298442.78" MAXLONG="16498442.78" MAXLAT="2980182.40" USERSCALING="false" USERSCALE="0" LEVELNAME="4" LEVELCODE="4" DISABLED="0" ISTHUMBNAIL="0"/>
  </SCALES>
</MAPCONFIG>