<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>47</MAPZONE>
  <ISSOUTH>0</ISSOUTH>
  <TITLE>PNG 2008</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=47;hemisphere=north;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>png</MAPCODE>
  <SCALES>
    <SCALE FOLDER="6" WIDTH="250" HEIGHT="250" MAXROW="58" MAXCOL="68" MINLONG="629953.87" MAXLONG="670753.87" MAXLAT="611263.57" USERSCALING="false" USERSCALE="0" LEVELNAME="6" LEVELCODE="6" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="7" WIDTH="250" HEIGHT="250" MAXROW="116" MAXCOL="136" MINLONG="629953.87" MAXLONG="670753.87" MAXLAT="611263.57" USERSCALING="false" USERSCALE="0" LEVELNAME="7" LEVELCODE="7" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="8" WIDTH="250" HEIGHT="250" MAXROW="232" MAXCOL="272" MINLONG="629953.87" MAXLONG="670753.87" MAXLAT="611263.57" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>