<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>47</MAPZONE>
  <ISSOUTH>0</ISSOUTH>
  <TITLE>KV 2009</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=47;hemisphere=north;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>kv</MAPCODE>
  <SCALES>
    <SCALE FOLDER="8" WIDTH="250" HEIGHT="250" MAXROW="104" MAXCOL="106" MINLONG="752180.49" MAXLONG="815780.49" MAXLAT="362251.98" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="9" WIDTH="250" HEIGHT="250" MAXROW="208" MAXCOL="212" MINLONG="752180.49" MAXLONG="815780.49" MAXLAT="362251.98" USERSCALING="false" USERSCALE="0" LEVELNAME="9" LEVELCODE="9" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="10" WIDTH="250" HEIGHT="250" MAXROW="416" MAXCOL="424" MINLONG="752180.49" MAXLONG="815780.49" MAXLAT="362251.98" USERSCALING="false" USERSCALE="0" LEVELNAME="10" LEVELCODE="10" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>