<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>48</MAPZONE>
  <ISSOUTH>0</ISSOUTH>
  <TITLE>Malacca 2008</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=48;hemisphere=north;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>mlk</MAPCODE>
  <SCALES>
    <SCALE FOLDER="6" WIDTH="250" HEIGHT="250" MAXROW="36" MAXCOL="40" MINLONG="179695.27" MAXLONG="203773.85" MAXLAT="259317.70" USERSCALING="false" USERSCALE="0" LEVELNAME="6" LEVELCODE="6" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="7" WIDTH="250" HEIGHT="250" MAXROW="72" MAXCOL="80" MINLONG="179695.27" MAXLONG="203773.85" MAXLAT="259317.70" USERSCALING="false" USERSCALE="0" LEVELNAME="7" LEVELCODE="7" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="8" WIDTH="250" HEIGHT="250" MAXROW="144" MAXCOL="160" MINLONG="179695.27" MAXLONG="203773.85" MAXLAT="259317.70" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>