<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>48</MAPZONE>
  <ISSOUTH>0</ISSOUTH>
  <TITLE>BATAM 2009</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=48;hemisphere=north;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>btm</MAPCODE>
  <SCALES>
    <SCALE FOLDER="8" WIDTH="256" HEIGHT="256" MAXROW="74" MAXCOL="94" MINLONG="375742.11" MAXLONG="465042.11" MAXLAT="136393.18" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="9" WIDTH="256" HEIGHT="256" MAXROW="148" MAXCOL="188" MINLONG="375742.11" MAXLONG="465042.11" MAXLAT="136393.18" USERSCALING="false" USERSCALE="0" LEVELNAME="9" LEVELCODE="9" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="10" WIDTH="256" HEIGHT="256" MAXROW="296" MAXCOL="376" MINLONG="375742.11" MAXLONG="465042.11" MAXLAT="136393.18" USERSCALING="false" USERSCALE="0" LEVELNAME="10" LEVELCODE="10" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>