<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>50</MAPZONE>
  <ISSOUTH>1</ISSOUTH>
  <TITLE>BALI 2008</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=50;hemisphere=south;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>bl</MAPCODE>
  <SCALES>
    <SCALE FOLDER="6" WIDTH="250" HEIGHT="250" MAXROW="62" MAXCOL="98" MINLONG="216607.00" MAXLONG="359810.70" MAXLAT="9111863.64" USERSCALING="false" USERSCALE="0" LEVELNAME="6" LEVELCODE="6" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="7" WIDTH="250" HEIGHT="250" MAXROW="124" MAXCOL="196" MINLONG="216607.00" MAXLONG="359810.70" MAXLAT="9111863.64" USERSCALING="false" USERSCALE="0" LEVELNAME="7" LEVELCODE="7" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="8" WIDTH="250" HEIGHT="250" MAXROW="248" MAXCOL="392" MINLONG="216607.00" MAXLONG="359810.70" MAXLAT="9111863.64" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>