<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>47</MAPZONE>
  <ISSOUTH>0</ISSOUTH>
  <TITLE>Langkawi 2008</TITLE>
  <PROJECTION>formula=TranverseMercatorFormula;zone=47;hemisphere=north;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>lkw</MAPCODE>
  <SCALES>
    <SCALE FOLDER="7" WIDTH="250" HEIGHT="250" MAXROW="60" MAXCOL="58" MINLONG="569920.90" MAXLONG="604720.89" MAXLAT="716397.09" USERSCALING="false" USERSCALE="0" LEVELNAME="7" LEVELCODE="7" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="8" WIDTH="250" HEIGHT="250" MAXROW="120" MAXCOL="116" MINLONG="569920.90" MAXLONG="604720.89" MAXLAT="716397.09" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="9" WIDTH="250" HEIGHT="250" MAXROW="240" MAXCOL="232" MINLONG="569920.90" MAXLONG="604720.89" MAXLAT="716397.09" USERSCALING="false" USERSCALE="0" LEVELNAME="9" LEVELCODE="9" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>