<?xml version="1.0" encoding="UTF-8"?>
<MAPCONFIG>
  <MAPZONE>0</MAPZONE>
  <ISSOUTH>1</ISSOUTH>
  <TITLE>World 2011</TITLE>
  <PROJECTION>formula=MercatorFormula;gcs=wgs1984</PROJECTION>
  <YEAR>2011</YEAR>
  <MAPCODE>wrd</MAPCODE>
  <SCALES>
    <SCALE FOLDER="1" WIDTH="240" HEIGHT="345" MAXROW="2" MAXCOL="3" MINLONG="-20031716.74" MAXLONG="20046263.33" MAXLAT="18980182.4" USERSCALING="false" USERSCALE="0" LEVELNAME="1" LEVELCODE="1" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="2" WIDTH="256" HEIGHT="256" MAXROW="7" MAXCOL="7" MINLONG="-20037445.90591325" MAXLONG="20037507.06038871" MAXLAT="20145713.852879956" USERSCALING="false" USERSCALE="0" LEVELNAME="2" LEVELCODE="2" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="3" WIDTH="256" HEIGHT="256" MAXROW="14" MAXCOL="14" MINLONG="-20037445.90591325" MAXLONG="20037507.06038871" MAXLAT="20145713.852879956" USERSCALING="false" USERSCALE="0" LEVELNAME="3" LEVELCODE="3" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE FOLDER="4" WIDTH="256" HEIGHT="256" MAXROW="21" MAXCOL="21" MINLONG="-20037445.90591325" MAXLONG="20037507.06038871" MAXLAT="20145713.852879956" USERSCALING="false" USERSCALE="0" LEVELNAME="4" LEVELCODE="4" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="1" GRIDCOL="1" GRIDWIDTH="216" GRIDHEIGHT="216" FOLDER="5" WIDTH="256" HEIGHT="256" MAXROW="216" MAXCOL="216" MINLONG="-20235643.082" MAXLONG="20401182.518" MAXLAT="19547260.685" USERSCALING="false" USERSCALE="0" LEVELNAME="5" LEVELCODE="5" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="2" GRIDCOL="2" GRIDWIDTH="458" GRIDHEIGHT="458" FOLDER="6" WIDTH="256" HEIGHT="256" MAXROW="916" MAXCOL="916" MINLONG="-20235643.082" MAXLONG="20401182.518" MAXLAT="19547260.685" USERSCALING="false" USERSCALE="0" LEVELNAME="6" LEVELCODE="6" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="4" GRIDCOL="4" GRIDWIDTH="550" GRIDHEIGHT="550" FOLDER="7" WIDTH="256" HEIGHT="256" MAXROW="2200" MAXCOL="2200" MINLONG="-20235643.082" MAXLONG="20401182.518" MAXLAT="19547260.685" USERSCALING="false" USERSCALE="0" LEVELNAME="7" LEVELCODE="7" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="8" GRIDCOL="9" GRIDWIDTH="600" GRIDHEIGHT="600" FOLDER="8" WIDTH="256" HEIGHT="256" MAXROW="4800" MAXCOL="5400" MINLONG="-20225000.0000000" MAXLONG="24045668.4691916" MAXLAT="19510000.0000000" USERSCALING="false" USERSCALE="0" LEVELNAME="8" LEVELCODE="8" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="15" GRIDCOL="16" GRIDWIDTH="700" GRIDHEIGHT="700" FOLDER="9" WIDTH="256" HEIGHT="256" MAXROW="10500" MAXCOL="11200" MINLONG="-20225000.0000000" MAXLONG="20528561.4921523" MAXLAT="19061500.0000000" USERSCALING="false" USERSCALE="0" LEVELNAME="9" LEVELCODE="9" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="34" GRIDCOL="36" GRIDWIDTH="700" GRIDHEIGHT="700" FOLDER="10" WIDTH="256" HEIGHT="256" MAXROW="23800" MAXCOL="25200" MINLONG="-20225000.0000000" MAXLONG="20442459.8902404" MAXLAT="19061500.0000000" USERSCALING="false" USERSCALE="0" LEVELNAME="10" LEVELCODE="10" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="152" GRIDCOL="162" GRIDWIDTH="350" GRIDHEIGHT="350" FOLDER="11" WIDTH="256" HEIGHT="256" MAXROW="53200" MAXCOL="56700" MINLONG="-20215700.0000000000" MAXLONG="20426860.0000000000" MAXLAT="18010900.0000000000" USERSCALING="false" USERSCALE="0" LEVELNAME="11" LEVELCODE="11" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="304" GRIDCOL="324" GRIDWIDTH="350" GRIDHEIGHT="350" FOLDER="12" WIDTH="256" HEIGHT="256" MAXROW="106400" MAXCOL="113400" MINLONG="-20215700.0000000000" MAXLONG="20426860.0000000000" MAXLAT="18010900.0000000000" USERSCALING="false" USERSCALE="0" LEVELNAME="12" LEVELCODE="12" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
    <SCALE GRIDROW="608" GRIDCOL="648" GRIDWIDTH="350" GRIDHEIGHT="350" FOLDER="13" WIDTH="256" HEIGHT="256" MAXROW="212800" MAXCOL="226800" MINLONG="-20215700.0000000000" MAXLONG="20426860.0000000000" MAXLAT="18010900.0000000000" USERSCALING="false" USERSCALE="0" LEVELNAME="13" LEVELCODE="13" DISABLED="0" ISTHUMBNAIL="0" FILEEXT=".gif"/>
  </SCALES>
</MAPCONFIG>